<!-- Blog Entries Column -->
<h1 class="page-header">All Posts</h1>
	<!-- {{ postsData | filter : postsData.tags : "JavaScript" }} -->
	<!-- {{ postsData.tags | checkTags }} -->
	<!-- {{ postsData[0].tags | searchTag : JavaScript }} -->
	<!-- {{ postsData[0] | filter:{ tags : JavaScript } }} -->

<!-- Begin Post -->
<article ng-repeat="post in postsData | limitTo: 3">
<!-- | orderBy : post.date -->
	<header>
		<h2>
			<a href="#/posts/{{ post.title }}.html">{{ post.title }}</a>
			<!-- #/posts?author={{utils.cleanTitleLower(post.author)}} -->
		</h2>
		<!-- {{ post.tags.length | filter : 'JavaScript' }} -->
		<!-- {{ post | filter:{tags:JavaScript } }} -->

		<p>
			<small class="glyphicon glyphicon-user"></small>
			by <a href="#">{{ post.author }}</a>
		</p>
		<p>
			<small class="glyphicon glyphicon-time"></small>
			Posted on {{ post.date | date:'dd MMM, yyyy' }}
		</p>
	</header>
	<hr>

	<figure>
		<img class="img-responsive" ng-src="{{ post.image }}"
			alt="">
	</figure>
	<hr>

	<!-- Post Description -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis debitis suscipit assumenda unde possimus, culpa voluptatum ducimus delectus, recusandae fuga eaque porro nam fugiat vel, illo reiciendis corporis quae?</p>
	<br>

	<footer class="clearfix">
		<p class="pull-left">
			<b>Tags:&nbsp;</b>
			<span ng-repeat="tag in post.tags">
				<a href="#" class="label label-default">{{ tag }}</a>
			</span>
		</p>

		<a class="btn btn-primary pull-right" href="post.html">
			Read More <i class="glyphicon glyphicon-chevron-right"></i>
		</a>
	</footer>
</article>
<hr>
<!-- End of Post -->


<!-- Pager -->
<ul class="pager">
	<li class="previous">
		<a href="#">&larr; Older</a>
	</li>
	<li class="next">
		<a href="#">Newer &rarr;</a>
	</li>
</ul>
